.cart{
    margin-top: 2%;
    
}
.cart h3{
    margin-left: 1%;
}
.colProdu{
    padding-top: 2%;
}

.colProdu :first-child{
    background-color: #F7F7F7;
    padding: 2%;
}

.condicionesDeCompra h5, .condicionesDeCompra p{
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-size: 14px;
    margin-bottom: 0;

}
.condicionesDeCompra h5{
    line-height:  16,41px;
    letter-spacing: 0.1px;
    font-weight: 500;
    padding-left: 0;
}
.condicionesDeCompra p{
   font-weight: 400;
   padding-left: 2%;
}
.resumen{
    font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;
letter-spacing: 0.15px;
color: #000000;
}
.desgloseResumen,.desgloseValores{
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 32px;
letter-spacing: 0.4px;
color: #000000;
display: flex;
flex-direction: column;
justify-content: start;
}
.desgloseResumen :last-child, .desgloseValores :last-child{
    font-weight: bold;
}

.desgloseValores{
    text-align: right;
    margin-right: 4%;
    }

.colPay{
    
    padding-top: 2%;
    
}
.colPay ul{
    background-color: #F7F7F7;
    padding-top: 6%;
}
li{
    list-style:none;
}
.finalizarCompra p{
    text-align: center;
    margin: 4% 0 4% 0;
    color: #3DB56A;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

}
.completarCompra, .seguirComprando{
    height: 55px;
    width: 367px;
    border-radius: 2px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 8px;
    margin-bottom: 4%;
}
.completarCompra{
    background-color: #000000;
    color: #FFFFFF;
}
.seguirComprando{
    border: solid 1px #000000;
    background-color: transparent;
    color:#000000 ;
}