.art{
    margin-top: -18% !important;
}
.imgProduct{
    width: 93px;
    
}
.borrar {
    display: flex;
    align-items: flex-end;
}
.borrar button {
    border: none;
    background-color: transparent;
}
.trash{
    width: 15px;
}
/* .listProduct{
    padding-bottom: 2%;
   
} */
.hrListP{
    opacity: 0.2;
    color:#1C1C1C ;
    mix-blend-mode: normal;
}
.listProduct{
    align-items: center;
}
.descriptionItem{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 8%;
    text-align: left;

}
.listProductTitles{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.15px;
    color: #000000;
    text-align: center;

}
.listProductTitles .col-4 p{
    text-align: left;
}
.talles {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 46px;
}
.titleProduct, .talle{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.25px;
    color: #000000;
}
.descripProduct {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.4px;
    color: #C8C8C8;
    
}
.cantidadesButtons{
    background-color: #FFFFFF;
border: 1px solid #CBCBCB;
box-sizing: border-box;
justify-content: space-between;
align-items: center;
padding: 1%;
height: 46px;
width: 115px;
border-radius: 0px;
font-family: 'Roboto';
font-weight: bold;

}
.cantidad{
    border-right:  solid  #CBCBCB 1px;
    border-left: solid  #CBCBCB 1px;
    margin: auto;
    padding: 0 8% 0 8%;
}
.cantidadesButtons button{
    border: none;
    background-color: transparent;
    text-align: center;
    width: 100%;
    font-size: 15px;
}
.precio{
    font-family: 'Roboto';
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.25px;
color: #000000;
margin-top: 8%;
text-align: center;
}
.precio span{
    color: red;
    margin-left: 4%;
}
.talleMobil{
    display: none;
}
.borrarMobi{
    display: none;
}
.precioMob{
    display: none;
}
@media (max-width: 1000px) and (min-width:768px) {
    .container.art{
        margin-top: -35% !important;
    }
    .colProdu div.row div.col-4 img{
        margin-top: 5%;
    }


    }

@media (max-width: 767px)  {
    .art{
        margin: 0 !important;
        display: flex;
    }
    .row.listProductTitles{
        display: none;
 
     }
     .listProduct .col-4{
         width: 90%;
     }
     .art div{
         width: 95%;
     }
     .talles{
        display: none;
    }
     .talleMobil{
         display: block;
     }
    div .cantidadesButtons{
        width: 115px;
        height: 46px;
        margin-left: 50%;

    }
    .borrar{
        display: none;
    }

    .borrarMobi{
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        margin-left: -15%;
        /* margin-bottom: 35%; */
        height: 95%;
        
    }
    .borrarMobi button{
        border: none;
        background-color: transparent;
        margin-bottom: 35%;
    }
    .precio{
    display: none;
}
.precioMob{
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.25px;
    color: #000000;
    margin-top: 8%;
    text-align: center;
}
.precioMob span{
    color: red;
    margin-left: 4%;

}
.imgProduct{
    height: 145px;
    width: auto;
}
}